.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr; /* Une seule colonne sur mobile */
    grid-template-rows: 60px 1fr 90px; /* TopBar, Main (flexible), PlayerBar */
    grid-template-areas: 
    "top"
    "main"
    "footer";
    background-color: black;
}

.TopBar {
    display: flex;
    grid-area: top;
    height: 60px;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
}
#search-input{
    border-radius: 500px;
    padding: 8px 16px;
}
.topbar-right, .topbar-center, .topbar-left{
    display:flex;
    gap: 20px;
}
.Library{
    width: 0px;
    background-color: green;
}
.MainContent{
    grid-area: main;
    background: linear-gradient(to bottom, #1f1f1f, #121212);
    padding-top: 20px;
    overflow-y: auto;
}
.Preview{
    width: 0px;
    background-color: yellow;
}
.PlayerBar{
    grid-area: footer;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
}
.player-left{
    display: flex;
    gap: 20px;

}
.player-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.player-controls{
    display: flex;
    gap: 20px;
    align-items: center;
}
.backward-button, .forward-button, .play-button, .repeat-button, .shuffle-button, .volume-button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.play-button{
    font-size: 30px;
}
.progress-bar{
    width: 100%;
    height: 4px;
    background-color: #282828;
    border-radius: 2px;
    margin-top: 8px;
    position: relative;
}
.player-right{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 150px;
}
.volume-bar{
    width: 100%;
}
.player-info h4{
    color: white;
    margin: 0;
}
.player-info p{
    color: #b3b3b3;
    margin: 0;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px;
    padding: 20px;
}
.card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}
.card h3 {
    color: white;
    font-size: 16px;
    margin: 0 0 8px 8px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card p {
    color: #b3b3b3;
    font-size: 14px;
    margin: 0;
}
.card:hover {
    background-color: #282828;
}



@media (min-width: 768px) {
    .container {
        grid-template-columns: 280px 1fr; 
        grid-template-rows: 60px 1fr 90px;
        grid-template-areas: 
            "top top"
            "sidebar main"
            "footer  footer";
    }

    .Library {
        grid-area: sidebar;
        width: 100%; /* Elle n'est plus à 0px ! */
        background-color: #121212;
         display: flex;
         flex-direction: column;
         overflow: hidden;
    }
    .libraryheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .playlist-list{
        overflow-y: auto;
        flex-grow: 1;
    }
    .playlist-list::-webkit-scrollbar {
        width: 8px;
    }
    .playlist-list::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 4px;
    }
    .playlist-item{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        cursor: pointer;
    }
    .playlist-item p{
        color: white;
        font-size: 15px;
    }


}

/* Uniquement sur les écrans larges (PC) */
@media (min-width: 1200px) {
    
    /* 1. On modifie la grille principale */
    .container {
        /* On veut 3 colonnes : 
           - La gauche fixe (280px)
           - Le milieu qui prend le reste (1fr)
           - La droite fixe (disons 280px aussi) */
        grid-template-columns: 280px 1fr 280px; 
        
        /* On dessine la nouvelle carte :
           La Sidebar est à gauche, le Main au milieu, la Preview à droite */
        grid-template-areas: 
            "top     top   top"
            "sidebar main   preview" 
            "footer  footer footer";
    }

    /* 2. On fait apparaître la zone fantôme */
    .Preview {
        /* Elle doit s'afficher (contrairement au width: 0px d'avant) */
        display: block; 
        grid-area: preview ; /* Le nom que tu as donné dans la grille juste au-dessus */
        width: 100%;
        background-color: #000000; /* Juste pour voir si ça marche */
        border-left: 1px solid #282828;
    }
}