/*Général */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}
h2{
    color: #444;
    font-size: 55px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange{
    color:#ff7a00;
}
/*Header */
header{
 height: 120px;
}
header h1{
    float: left;
    margin-top: 32px;   
}
header nav{
    float: right;
    margin-top: 50px;
}
header nav ul li{
    display: inline-block;
    margin-right: 20px;
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
}

/*Main Image */

#main-image{
    height: 580px;
    background: url('assets/main.jpg') no-repeat center center/cover;
}
#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 100px 40px 100px;
    margin-bottom: 20px ;
}
.button-1{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}

/*Steps Section */
#steps{

}
.case{
    float: left;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 1000px;
    box-sizing: border-box;
    padding-top: px;
    
}
.case img{
    margin-bottom: 20px;
}
.case h3{
    margin-bottom: 20px;
    font-size: 25px;
}