/*Général */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}
h2{
    color: #444;
    font-size: 55px;
}
h4{
    font-size: 24px;
    margin-bottom: 10px;
    color: #444;
}
p{
    line-height: 20px;
    color: #777;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange{
    color:#ff7a00;
}

.clear{
    clear: both;
}
small{
    font-size: 13px;
    font-style: italic;
}

/*Header */
header{
 height: 120px;
}
header h1{
    float: left;
    margin-top: 32px;   
}
header nav{
    float: right;
    margin-top: 50px;
}
header nav ul li{
    display: inline-block;
    margin-right: 20px;
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
}

/*Main Image */

#main-image{
    height: 580px;
    background: url('assets/main.jpg') no-repeat center center/cover;
}
#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 100px 40px 100px;
    margin-bottom: 20px ;
}
.button-1{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}
.button-1:hover{
    background: #02b8dd;
    transition: background 0.2s ease-in-out;
}
/*Steps Section */

#steps ul{
    margin: 80px 0;
}

#steps ul li{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}
#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;

}
#steps-1{
    background: url('assets/steps-icon-1.png') no-repeat top center;
}
#steps-2{
    background: url('assets/steps-icon-2.png') no-repeat top center;
}
#steps-3{
    background: url('assets/steps-icon-3.png') no-repeat top center;
}

/*Possibilities*/

#possibilities{
    background: #efefef;
    padding: 60px 0;
}
#possibilities article{
    
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#possibilities article:first-child{
    margin-right: 20px;
}
.overlay{
    background: rgba(255,255,255, 0.95);
    width: 190px;
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}
article h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
article p{
    text-align: center;
    margin-bottom: 20px;
}
.button-2{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;

    
}
.button-2:hover{
    background: #02b8dd;
    transition: background 0.2s ease-in-out;
}
